# Liens symboliques et dossiers problématiques
public/storage/
public/storage

# Dépendances
vendor/
node_modules/

# Fichiers système
.git/
.env
.env.*
*.log

# Caches Laravel
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/framework/testing/

# Autres
.phpunit.result.cache
.DS_Store
Thumbs.db
